body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(241, 241, 83);
  color: #771e1e;
  padding: 10px;
  text-align: center;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  margin-right: 20px;
}
header nav a {
  color: #771e1e;
  text-decoration: none;
}
h1 {
  font-weight: 300%;
  color: #771e1e;
  font-size: 30px;
}
h2 {
  color: #771e1e;
  font-size: 25px;
  text-align: center;
}
main {
  background-color: rgb(211, 205, 205);
  padding: 10px;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}
section {
  padding: 1em;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image {
  text-align: center;
  color: #771e1e;
}
.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  margin: 0 auto;
  max-width: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  line-height: 25px;
}
.expandable-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  cursor: pointer;
}
.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.expanded-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.close-overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
footer {
  background-color: #383434;
  padding: 10px;
  border-top: 3px solid #ddd;
  clear: both;
  text-align: center;
  color: #ddd;
}
.fo {
  font-size: 12px;
}
